﻿@using Basket_Api._.Protos
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>basket</h1>



@{
    var disticntBookIds = ((List<Get_Baskets_Response_Item>)ViewBag.Baskets)
    .GroupBy(g => g.BookId)
    .Select(s => s.First())
    .ToList();
}

@foreach (var disticntBookId in disticntBookIds)
{

    <h3 class="mt-5">@disticntBookId.BookId</h3>
    <div class="row">
        @foreach (var basket in ((List<Get_Baskets_Response_Item>)ViewBag.Baskets).Where(w => w.BookId == @disticntBookId.BookId))
        {
            <div class="col-sm-3 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@basket.BookId</h5>
                        <p class="card-text">Quantity : @basket.Quantity</p>
                        <p class="card-text">UnitPrice : @basket.UnitPrice</p>
                        <p class="card-text">CreatedBy : @basket.CreatedBy</p>

                        <a asp-controller="Basket" asp-action="Remove_Basket"
                               asp-route-Id="@basket.Id"
                               class="btn btn-primary">Remove
                           </a>
                    </div>
                </div>
            </div>
        }
    </div>
}




