﻿@using Frontend._
@using HelloBook_Api._.Protos


@inject UserLogin _userLogin

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Catalog</h1>

<div class="row">

    @foreach (var CatalogBook in (List<Get_CatalogBooks_Response_item>)ViewBag.CatalogBooks)
    {
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@CatalogBook.Title</h5>
                    <p class="card-text">Author : @CatalogBook.Author</p>
                    <p class="card-text">Price : @CatalogBook.UnitPrice</p>

                    @if (_userLogin.IsAuthenticated)
                    {
                        <a asp-controller="Basket" asp-action="Add_Basket"
                       asp-route-BookId="@CatalogBook.Id"
                       asp-route-Quantity="1"
                       asp-route-UnitPrice="@CatalogBook.UnitPrice"
                       class="btn btn-primary">Add To basket</a>
                    }

                </div>
            </div>
        </div>
    }

</div>
